apiVersion: apps/v1
kind: Deployment
metadata:
  name: apm-server
  namespace: logging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: apm-server
  template:
    metadata:
      labels:
        app: apm-server
    spec:
      containers:
        - name: apm
          image: docker.elastic.co/apm/apm-server:8.14.3
          args:
            - "-e"
            - "-E"
            - "apm-server.host=0.0.0.0:8200"
            - "-E"
            - 'output.elasticsearch.hosts=["http://elasticsearch.logging.svc.cluster.local:9200"]'
          env:
            - name: ELASTICSEARCH_USERNAME
              value: "elastic"
            - name: ELASTICSEARCH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: elastic-auth
                  key: ELASTIC_PASSWORD
            - name: ELASTIC_APM_SERVER_SECRET_TOKEN
              value: ""
          ports:
            - containerPort: 8200
          resources:
            requests:
              cpu: 200m
              memory: 512Mi
            limits:
              cpu: 400m
              memory: 1Gi
          readinessProbe:
            httpGet:
              path: /
              port: 8200
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 24
          livenessProbe:
            httpGet:
              path: /
              port: 8200
            initialDelaySeconds: 60
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 10
